# ASSIGNMENT SOLUTIONS

## Number 1

### First Solution

In [1]:
tree_list = []
for item in range(20, 141, 4):
    tree_list.append(item)
print(tree_list)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140]

### Second Solution

In [2]:
tree_list = range(20, 141, 4)
tree_list = list(tree_list)
'''
We can also make this solution shorter by calling tree_list = list(range(20, 141, 4))

'''
print(tree_list)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140]

# Number 2

In [4]:
tree_list.append(400)
print(tree_list)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 400]

# Number 3

In [1]:
tree = {
    'tree_type': 'pepper_bark tree',
    'age': '15',
    'family': 'Canellaceae'
}

In [2]:
tree

{'tree_type': 'pepper_bark tree', 'age': '15', 'family': 'Canellaceae'}

# Number 4

In [3]:
student_name = input("Student name: ")
student_number = int(input("Student number: "))

if student_number < 50:
    print(f"{student_name} is a Grade F student ")
elif 50 <= student_number < 65:
    print(f"{student_name} is a Grade C student ")
elif 65 <= student_number < 80:
    print(f"{student_name} is a Grade B student ")
else:
    print(f"{student_name} is a Grade A student ")

Student name: Akin
Student number: 77
Akin is a Grade B student

# Number 4 Modified Aspect

In [4]:
while True:
    student_name = input("Student name: ")
    if student_name.isalpha():
        if student_name[0].isupper():
            break
        else:
            print("Please start the name with a Capital Letter ")
    else:
        print("Please Use only Alphabets ")

while True:
    student_number = input("Student number: ")
    if student_number.isdigit():
        student_number = int(student_number)
        break
    else:
        print("Student Number must be only Numbers ")


if student_number < 50:
    print(f"{student_name} is a Grade F student ")

elif 50 <= student_number < 65:
    print(f"{student_name} is a Grade C student ")

elif 65 <= student_number < 80:
    print(f"{student_name} is a Grade B student ")

else:
    print(f"{student_name} is a Grade A student ")

Student name: Akin2
Please Use only Alphabets
Student name: akin
Please start the name with a Capital Letter
Student name: Akin
Student number: 2w3e
Student Number must be only Numbers
Student number: 77
Akin is a Grade B student

# Number 5

In [5]:
solar = True
if not solar:
    print("Needs Improvement")
else:
    print("Eco-friendly")

Eco-friendly

# Number 6

In [7]:
subjects = ['Mathematics', 'English', 'Chemistry', 'Physics', 'Biology', 'Economics', '', 'Koala']

for subject in subjects:
    if not subject:
        continue
    print(subject)

Mathematics
English
Chemistry
Physics
Biology
Economics
Koala

# Solution 2

In [8]:
subjects = ['Mathematics', 'English', 'Chemistry', 'Physics', 'Biology', 'Economics', '', 'Koala']

for subject in subjects:
    if subject == "":
        continue
    print(subject)

Mathematics
English
Chemistry
Physics
Biology
Economics
Koala

# Number 7

In [1]:
animals = ["Tiger", "Cheetah", "Antelope", "Lion", "Wolves", "Panda", "Leopard", "Fox", "Bear"]
for animal in animals:
    if animal == "Panda":
        continue
    print(animal)

Tiger
Cheetah
Antelope
Lion
Wolves
Leopard
Fox
Bear

# Number 8

In [9]:
endangered_marine_species = ['Hawksbill Turtle', 'Vaquita', 'Blue Whale', 'Staghorn Coral', 'Green Turtle']

endangered_count = 0

for species in endangered_marine_species:
    endangered_count += 1
    
print(f"Number of endangered marine species: {endangered_count}")

Number of endangered marine species: 5

# Number 9

In [10]:
current_savings = 150  # initial savings in dollars
target_savings = 500
years = 0
growth_rate = 1.07  # 7% annual growth due to interest

while current_savings < target_savings:
    current_savings *= growth_rate
    years += 1
print(f"Years to reach target savings: {years}")

Years to reach target savings: 18

# Number 10

In [17]:
def dollars_to_euros(a: float) -> float:
    """ 
    (a) signifies the amount in dollars that we want to convert to euro, while float indicates that we can insert
    either an integer or a decimal number.
    Also, the function uses a defualt 1 dollar = 0.85 euros
    
    """
    return a * 0.85

In [18]:
euro = dollars_to_euros(5)
print(f"The equivalent amount in euros is {euro}")

The equivalent amount in euros is 4.25